header {
    background: #ffffff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 12;
    &:after {
        background: #7853a0;
        background: -moz-linear-gradient(left,  #7853a0 0%, #dd2a71 100%);
        background: -webkit-linear-gradient(left,  #7853a0 0%,#dd2a71 100%); 
        background: linear-gradient(to right,  #7853a0 0%,#dd2a71 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7853a0', endColorstr='#dd2a71',GradientType=1 );
        width: 100%;
        height: 3px;
        display: block;
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .logo {
        max-width: 247px;
        a {
            img {
                transition: all 0.5s ease;
            }
        }
    }
    nav {
        margin-top: 32px;
        float: right;
        transition: all 0.5s ease;
        ul {
            padding-bottom: 12px;
            float: left;
            li {
                float: left;
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-weight: 500;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    position: relative;
                    &:after {
                        background: #ee2369;
                        height: 3px;
                        position: absolute;
                        top: 29px;
                        right: 0;
                        left: 0;
                        display: block;
                        content: "";
                        pointer-events: none;
                        opacity: 0;
                        transition: all 0.5s ease;
                    }
                    &:hover {
                        &:after {
                            opacity: 1;
                        }
                    }
                }
                &.active {
                    a {
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .register {
        background: #ee2369;
        font-weight: 500;
        font-size: 1.5rem;
        color: #ffffff;
        line-height: 1;
        text-transform: uppercase;
        float: left;
        display: inline-block; 
        padding: 14px 18px;
        border: 2px #ee2369 solid;
        position: relative;
        top: -11px;
        margin-left: 25px;
        &:hover {
            background: #ffffff;
            color: #b93982;
            &:after {
                content: none;
            }
        }
    }
    &.is-scroll {
        .logo {
            a {
                img {
                    max-width: 200px;
                }
            }
        }
        nav {
            margin-top: 22px;
        }
    }
}
.hamburger {
	width: 35px;
	height: 29px;
	padding: 4px;
	transition: all .25s ease;
	-webkit-transition: all .25s ease;
	position: absolute;
	top: 21px;
	right: 12px;
	z-index: 11;
	display: none;
	&:hover { cursor: pointer; }
	.menu-bar {
		position: absolute;
		border-radius: 2px;
		width: 80%;
		transition: .5s;
		-webkit-transition: .5s;
	}
	.menu-bar-top {
		border: 4px solid #4a4d4e;
		border-bottom: none;
		top: 0;
	}
	.menu-bar-middle {
		height: 4px;
		background-color: #4a4d4e;
		margin-top: 7px;
		margin-bottom: 7px;
		top: 4px;
	}
	.menu-bar-bottom {
		border: 4px solid #4a4d4e;
		border-top: none;
		top: 22px;
	}
}
.nav-mobile-open {
	.menu-bar-top {
		transform: rotate(45deg) translate(8px, 8px);
		-webkit-transform: rotate(45deg) translate(8px, 8px);
		transition: .5s;
		-webkit-transition: .5s;
		border-color: #4a4d4e #4a4d4e -moz-use-text-color;
	}
	.menu-bar-middle {
		transform: translate(230px);
		-webkit-transform: translate(230px);
		transition: .1s ease-in;
		-webkit-transition: .1s ease-in;
		opacity: 0;
	}
	.menu-bar-bottom {
		transform: rotate(-45deg) translate(8px, -7px);
		-webkit-transform: rotate(-45deg) translate(8px, -7px);
		transition: .5s;
		-webkit-transition: .5s;
		border-color: -moz-use-text-color #4a4d4e #4a4d4e;
	}
}